.popup__close-button {
  width: 40.7px;
  height: 40.7px;
  background: url(../../../images/add-button.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: fixed;
  z-index: 2;
  top: 0;
  right: 0;
  border: none;
  outline: none;
  transform: translate(95%, -95%) rotate(45deg);
  padding: 0;
  cursor: pointer;
}

.popup__close-button:hover {
  opacity: 0.6;
  transition: opacity .3s ease;
}

@media screen and (max-width: 768px) {
  .popup__close-button {
    width: 30px;
    height: 30px;
  }
}
