.profile__about {
  font-weight: normal;
  font-size: 14px;
  text-align: center;
  color: #FFFFFF;
  margin: 10px 0 0;
  max-width: 282px;
  display: block;
  overflow: hidden;
  white-space:nowrap;
  text-overflow: ellipsis;
}

@media screen and (min-width: 920px) {
  .profile__about {
    font-size: 18px;
    text-align: left;
    max-width: 450px;
  }
}
